.home {
  margin-top: 150px;
}

.container {
  display: flex;
  justify-content: center;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 2px solid gray;
  border-radius: 20px;
  width: 50%;
}

.clock div {
  margin-left: 10px;
}
